.names{
    font-size: 17px;
    font-weight: 300;
    /* font-style: italic; */
    /* text-decoration: line-through; */

}
.tittle{
    font-size: 32px;
    font-weight: bold;
    position: center;  
}